[Unit]
Description=ag-proxy
Requires=network.target

[Service]
Type=simple
ExecStart=ssh -tt -o StrictHostKeyChecking=no -p2244 -D12345 -vv -N fkia@193.37.213.206
Restart=on-failure
RestartSec=5
User=fkia

[Install]
WantedBy=multi-user.target
