[Unit]
Description=fin-proxy
Requires=network.target

[Service]
Type=simple
ExecStart=ssh -tt -o StrictHostKeyChecking=no -p22 -D12347 -vv -N fkia@pooyanit-fin
Restart=on-failure
RestartSec=5
User=$targetuser

[Install]
WantedBy=multi-user.target
