[global_config]
  inactive_color_offset = 1.0
  enabled_plugins = TerminalShot, LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler
  suppress_multiple_term_dialog = True
[keybindings]
  new_tab = ""
  go_next = ""
  go_prev = ""
  move_tab_right = ""
  move_tab_left = ""
  next_tab = ""
  prev_tab = ""
  reset = ""
  reset_clear = ""
  create_group = <Primary>n
  group_all = ""
  ungroup_all = ""
  group_win = <Super>g
  ungroup_win = <Super>u
  group_tab = ""
  ungroup_tab = ""
  new_window = ""
  new_terminator = ""
  broadcast_off = <Super>n
  broadcast_group = <Super>b
  edit_window_title = ""
  edit_tab_title = ""
  edit_terminal_title = ""
  layout_launcher = ""
  preferences_keybindings = ""
[profiles]
  [[default]]
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#2e3436:#ed333b:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    use_system_font = False
    use_theme_colors = True
    bold_is_bright = True
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      maximised = False
      fullscreen = False
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
[plugins]